*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #202020;
}

body {
  font-family: 'Roboto', 'Noto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  padding: 25px 10vw;
  row-gap: 30px;
}

header a.back-button {
  position: absolute;
  left: 30px;
  top: 30px;
}

header .title h2 {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
}

header .title h2 a {
  text-decoration: none;
}

header .navbar {
  width: fit-content;
  margin: auto;
  display: flex;
  column-gap: 4vw;
}

header a.nav {
  text-decoration: none;
  /* color: #202020; */
}

header a.nav.active {
  border-bottom: 2px solid black;
}

header .cart-icon {
  position: absolute;
  right: 40px;
  top: 30px;
  /* color: ; */
}

section .container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /* width: 90%; */
  justify-content: center;
  margin: 4vw auto;
}

.container .img-container {
  width: 60%;
}

.container .img-container img {
  width: 40vw;
}

.container .details {
  width: 40%;
}

.container .details>* {
  margin: 25px 0;
  font-size: 1.2rem;
}

.container h1.name {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 0;
}

.container p.price {
  font-size: 1.3rem;
  color: gray;
}

.container .shop-select {
  position: relative;
  border-top: 1px solid rgba(128, 128, 128, 0.747);
}

.container .shop-select.s2 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.747);
}

.container .shop-select label {
  position: absolute;
  top: 50%;
  color: gray;
  transform: translateY(-50%);
}

.container select {
  font-size: 1.2rem;
  width: 100%;
  padding: 16px 24px 16px 100px;
}

.container .description>* {
  color: grey;
  line-height: 25px;
}

.container .description h4 {
  color: #202020;
  margin-bottom: 20px;
}

.container .description .features {
  padding: 20px 50px;
}

.container .description .features ul li {
  color: grey;
}


.shop-button {
  width: fit-content;
  margin: auto;
}

.shop-button>* {
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid #000;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 500;
  color: #202020;
  margin: 0;
  padding: 15px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}


@media screen and (max-width:769px) {

  header .navbar {
    display: none;
  }

  header .cart-icon {
    right: 5vw;
  }

  section .container {
    justify-content: center;
    margin: 6vw auto;
    flex-direction: column;
  }

  .container .img-container {
    width: unset;
  }

  .container .img-container img {
    width: 80vw;
  }

  .container .details {
    width: unset;
    margin: 30px 0;
  }

  .small-sec p {
    font-size: 1.4rem;
  }

  .shop-button a{
    position: fixed;
    width: 100%;
    font-size: 1.2rem ;
    color: #fff;
    padding: 1.6rem 0;
    bottom: 0;
    left: 0;
    background-color: #172C50;;
  }
  .shop-button>* {
    font-size: 10px;
    padding: 8px 18px;
  }
}

@media screen and (max-width:469px) {
  header a.back-button {
    left: 5vw;
    top: 26px;
  }

  header .title h2 {
    font-size: 1.5rem;
  }

  header .cart-icon {
    top: 26px;
  }

  .container h1.name {
    font-size: 1.8rem;
  }

  .small-sec p {
    font-size: 1rem;
  }


}
